.helloInput {
  width: 200px;
}

.title{
  color: #3c3c3c;
}
.mainText{
  color:#3c3c3c;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #66eecc20;

}

.page-footer{
  background-color: #66eecc;
}
main {
  flex: 1 0 auto;
}

.btn {
  margin: 10px 2px 10px 2px;
  background-color: #66eecc;
  color: #3c3c3c;
}
